/* Lock the entire viewport & clip overflow */
html,
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: clip;
}

main {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	z-index: 1;
	text-align: center;
	padding: 1rem 2rem;
	border-radius: 1rem;
}

.title {
	font-family: 'Rubik Dirt', system-ui;
	font-size: clamp(2rem, 6vw, 5rem);
	margin: 0;
}

.bio {
	font-family: 'Zain', sans-serif;
	font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
	margin-top: 1rem;
}

.heron {
	position: absolute;
	top: 55%;
	width: 40vw;
	max-width: 400px;
	transform: translateY(-50%);
	pointer-events: none;
}
.heron.left {
	left: 0;
	transform: translateX(-60%) translateY(-50%) scaleX(-1);
}
.heron.right {
	right: 0;
	transform: translateX(60%) translateY(-50%);
}
.social-links {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
	gap: 1.25rem;
}

.social-links a {
	color: var(--text-color);
}

.social-links a:hover {
	transform: scale(1.15);
	color: var(--primary-color);
}
