:root {
	--primary-color: #60abbb;
	--secondary-color: #507096;
	--background-color: #2f304c;
	--text-color: #ebebeb;
	--border-color: #e0e0e0;
	--link-color: #ffcd45;
	--hover-color: #eed48e;
}

h1,
h2,
h3 {
	font-family: 'Rubik Dirt', system-ui;
	font-weight: 400;
	font-style: normal;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 4;
	padding: 0;
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--hover-color);
}

p {
	font-family: 'Zain', sans-serif;
	font-weight: 400;
	font-style: normal;
}
