---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h3>warm water, lukewarm water</h3>
	<p>mining gems</p>
	<img width="400" src="/assets/images/heron.svg" alt="n3ds" />
</BaseLayout>
