---
const { paragraphs } = Astro.props;
---

{
	Array.from({ length: paragraphs }).map((_) => (
		<>
			<p>Just like an angel with evil eye,</p>
			<p>I shall return to thee silently</p>
			<p>Upon thy bower I'll alight,</p>
			<p>With falling shadows of the night.</p>
			<br />
			<p>With thee, my brownie, I'll commune,</p>
			<p>And give thee kisses cold as the moon,</p>
			<p>And with a serpent's moist embrace,</p>
			<p>I'll crawl around thy resting-place.</p>
			<br />
			<p>And when the livid morning falls,</p>
			<p>Thou'lt find alone the empty walls,</p>
			<p>And till the evening, cold 'twill be.</p>
			<br />
			<p>As others with their tenderness,</p>
			<p>Upon thy life and youthfulness,</p>
			<p>I'll reign alone with dread o'er thee.</p>
			<br />
		</>
	))
}
